<style>
  @import url('/css/background.css');
</style>

<div class="container">
  <div class="row black">
    <div class="span3"></div>
    <div class="span6">
      <form method='post' action='create'>
        <legend>Add a New Friend!</legend>
        <label>First Name</label>
        <input class='span6' name='first' type='text' required autofocus>
        <label>Last name</label>
        <input class='span6' name='last' type='text' required>
        <label>Age</label>
        <input class='span6' name='age' type='text' required>
        <label>Profile Img</label>
        <input class='span6' value='http://' name='url' type='text'>
        <label>Gender</label>
        <select class='span6' name='gender'>
          <option value='na'></option>
          <option value='male'>Male</option>
          <option value='female'>Female</option>
        </select>
        <label>Twitter</label>
        <input class='span6' value='@' name='twitter' type='text'>
        <label>Github</label>
        <input class='span6' value='http://' name='github' type='text'>
        <button type='submit' class='span2 btn btn-large'>Save</button>
      </form>
    </div>
    <div class="span3"></div>
  </div>
</div>